*.idea/**

# PYTHON FILES
*__pycache__/
*.py[cod]
*$py.class
*.pyc
# PYTHON FILES
__pycache__/
__pypackages__/

.env

# STATIC AND MEDIA FOLDERS
src/static/

*/__pycache__/


# NGINX LOGS
nginx/nginx-loc/logs/
nginx/nginx-pro/logs/

# POSTGRES PGDATA
postgres/\.pgdata/
postgres/\.pgdata-test/

# DJANGO MIGRATIONS
src/celeryev\.pid

src/celerybeat-schedule

src/media/
.postgres/